@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap')


$gray-lightest = #f4f4f4
$gray-lighter = #D2D2D2
$gray-light = #B8B8B8
$gray-med = #868686
$gray-dark = #555555
$gray-darker = #3F3F3F
$gray-darkest = #262626

$font-large = 18px
$font-small = 16px
$font-caption = 14px

html
body
	margin: 0;
	padding: 0;

	&
	& *
		box-sizing: border-box;


body
	font-family: 'PT Sans', sans-serif;
	color: $gray-med;
	font-size: $font-large
	line-height: 1.3em;
	a
		text-decoration: none
		color: $gray-darker;

h1
	color $gray-light
	font-size 46px
	font-weight: normal
	letter-spacing: -.03em
	text-align: center
	margin-bottom 40px

h2
	color $gray-darker
	font-size 26px
	font-weight: normal
	letter-spacing: -.015em
	margin 0
	padding 0

h3
	color $gray-darker
	font-size 22px
	font-weight: normal
	letter-spacing: -.015em
	margin 0
	padding 0

p
	margin 0
	padding 0

.page
	width 100%
	max-width 980px
	padding 16px 24px 32px
	
	&.center
		text-align center
	&.thin
		max-width: 600px


.frame
	padding 232px 16px 0
	display flex
	flex-direction column
	align-items center

	&.fixed
		padding-top 280px

	.frame-inner
		width 100%
		display: flex
		flex-direction: column
		z-index 8
		align-items: center
		
		
	.trick ~ &
	.trick ~ &.fixed
		padding-top 120px



header
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 8px;
	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 9;

	nav
		display: flex;
		align-items: flex-start;
		width: 100%;
		max-width: 980px;
		position relative
		padding 160px 24px 0

		.logo
			width: 90px;

		.logo-link
			position absolute
			right 50%
			transform: translateX(50%)
			top 8px
			transition: right ease-in-out 200ms, transform ease-in-out 200ms

		.links
			display: flex;
			height: 40px;
			flex: 1 1 auto;
			align-items: center;
			justify-content: center;

			.fixedIcons
				position fixed
				top 16px
				right 16px

				button
					font-size: $font-caption
					font-weight: bold
					color $gray-darker
					background-color $gray-lighter
					margin-right 16px
					border-radius: 4px
					height 32px
					width 32px

			a
				padding-right: 8px;
				text-decoration: none;
				color:$gray-darker;


	&.fixed
	.trick ~ &
		background-color $gray-lighter

		nav
			height: 40px;
			padding-top 0

			.logo-link
				right 100%
				transform: translateX(0%)
			
			.links
				justify-content: flex-end;

				.fixedIcons
					position relative
					top initial
					right initial


input
	-webkit-appearance: none;
	font-family: inherit;
	font-size $font-small
	line-height: inherit;
	border: thin solid $gray-lighter;
	border-radius: 4px
	display: inline-flex
	align-items: center
	padding 0 8px 0 12px
	margin 0
	background-color: $gray-lightest;
	color $gray-darker
	outline: 0
	height 32px
	
	&:focus
	&:focus-visible
		border thin solid $gray-med
		background-color: $gray-lightest

button
	-webkit-appearance: none;
	font-family: inherit;
	font-size: $font-small;
	line-height: inherit;
	border: none;
	outline: 0
	margin 0
	flex 0 0 auto
	background-color: transparent;
	cursor: pointer;

	svg.svg-inline--fa
		margin-right 8px
		height 20px
		width 20px

	.links &
		margin: 0 8px;
		text-transform: uppercase;
		border thin solid white

	&.primary
	&.secondary
		border-radius 4px
		display inline-flex
		text-transform: uppercase
		letter-spacing: .08em
		font-weight: bold
		height 40px
		text-align center
		align-items: center
		transition background ease-in-out 200ms, color ease-in-out 200ms, border ease-in-out 200ms
		padding: 0 12px
		margin 0 8px 8px 0
		font-size: $font-caption
	
		&:last-child
			margin-right: 0

	&.primary
		background-color $gray-darker
		color white
		&:hover
			background-color: black



	&.secondary
		border thin solid $gray-lighter
		background-color $gray-lightest
		color $gray-med
		margin-right 8px

		&:hover
			background-color white

		&.selected
			background-color white
			border-bottom-left-radius 0
			border-bottom-right-radius 0
			color $gray-darker
			border-color $gray-med
			border-bottom none
			padding-bottom 24px
			z-index 1


		

.tag
	margin-right 4px
	font-size $font-small
	background-color white
	border thin solid $gray-lighter
	padding 0 12px 2px
	height 32px
	border-radius: 16px
	display: inline-flex
	align-items: center
	color $gray-med

	&.selected
		background-color: $gray-lightest
		color $gray-darker
		border-color $gray-med
	

.filters
	display flex
	width 100%
	background-color: white
	justify-content: center

	&.fixed
		position fixed
		top 56px
		z-index 8
		left 0


	.filters-inner
		padding 8px 16px
		display: flex
		flex 1 1 100%
		width 100%
		max-width 980px
		justify-content space-between


		input
			height 32px
			width 130px
			background-color white
			transition: width ease-in-out 200ms

			&:focus
				width 300px


.product-grid
	display: flex;
	flex-wrap: wrap;
	// width 100%
	// max-width 980px
	// padding: 0 24px

.product-card
	width: 300px;
	padding 8px 16px
	
	>a
		display flex
		flex-direction: column
		align-items: center
		color $gray-med

	.card-images
		position relative
		overflow: hidden
		border-radius: 4px
		display flex
		width 100%

		img
			width 100%
			max-width 100%
			height 30vh
			object-fit: contain


			&:nth-of-type(2)
				position absolute
				top 0
				left 100%
				z-index 2
				transition left ease-in-out 300ms, transform ease-in-out 800ms
				transform: scale(1)


	&:hover
		.card-images
			img
				&:nth-of-type(2)
					left 0
					transform: scale(1.1)

		
.card-info
	width 100%
	text-align: left
	padding 16px 0
	border-top thin solid $gray-lighter
	margin-top 16px
			
	p
		margin 8px 0
			

.price
	display inline-flex
	width 100%
	align-items flex-end
	justify-content: flex-end
	color $gray-darker
	font-size 26px
	
	&.total
		padding-left 16px
		padding-right 16px

	&.small
		font-size 20px
		color $gray-med

		span
			color $gray-light

	span
		display: inline-flex
		font-size $font-caption
		font-weight: bold
		letter-spacing: .01em
		color $gray-med
		margin-left 4px
		line-height 1.2em

		&.from
			font-weight: normal
			color $gray-darker
			margin-right 4px
					

.carouselHolder
	width: 500px;
	height: 500px;
	display: block;
	overflow: hidden;
	flex 0 0 auto
	margin-bottom 16px

	.carousel-status
		display none

.carousel
	.slide
		cursor grab
		&:active
			cursor grabbing

		img
			width: 500px;
			height: 500px;
			object-fit: contain;

.row
	display flex
	&.right
		justify-content: flex-end
	&.middle
		align-items center
	&.wrap
		flex-wrap wrap

.column
	display flex
	flex-direction column
	&.right
		align-items: flex-end

.product-info
	flex 1 1 100%
	padding 0 16px
	min-height: 500px

	h1
		text-align: left

.caption
	display inline-flex
	font-size: $font-caption
	font-weight: bold
	color $gray-light

	&.inline
		margin 0 8px
	
	.total &
		font-weight: normal
		margin-right 16px

	span
		margin-right 4px
		&:last-child
			margin-right 0

.quantity
	flex 0 0 auto
	width 60px
	font-size: $font-caption

	&::-webkit-inner-spin-button
	&::-webkit-outer-spin-button
		opacity: 1;

.total
	display flex
	border-top 1px solid $gray-light
	align-items: center
	padding-top 16px
	margin-top 16px
	.price
		margin-right 16px

.desc
	margin-bottom: 16px
	flex 1 1 auto

.variant
	position: relative
	margin-right 8px
	font-size $font-caption
	font-weight bold

	input
		background rgb(227, 77, 77)
		z-index 2
		opacity 0
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		padding 0
		margin 0
		cursor pointer

		& ~ span
			display: inline-flex
			align-items: center
			height 32px
			border-radius 16px
			border thin solid $gray-lighter
			padding 0 12px
			color $gray-med
			cursor pointer

		&:checked ~ span
			border thin solid $gray-med
			background-color $gray-lightest
			color $gray-darker

.cart-item
	border-bottom thin solid $gray-lightest
	padding: 16px 16px

	&:last-child
		border-bottom: none
	
	.title
		flex 1 1 auto
		display: flex
		align-items center
		span
			font-size: $font-small
			font-weight: normal
			line-height 1em
			margin-left 8px
	.price
		min-width: 100px
		margin-left 16px
		margin-right 8px

.cart
	position relative

	svg.svg-inline--fa path
		fill $gray-light

	&.full
		svg.svg-inline--fa path
			fill $gray-med


	.cartCounter
		background rgb(215, 66, 98)
		color white
		font-size 12px
		line-height 12px
		position: absolute
		// font-weight: bold
		top -4px
		right -4px
		display: flex
		align-items: center
		justify-content: center
		height 20px
		width 20px
		border-radius 50%
		&.update
			animation bubble ease-in-out 300ms


			@keyframes bubble
				0%
					height 20px
					width 20px
				30%
					height 26px
					width 26px
				100%
					height 20px
					width 20px
				
			


svg.svg-inline--fa
	path
		fill $gray-med


.stepNav
	display: flex
	justify-content: space-between
	padding 16px 
	// border-top thin solid $gray-lighter

	&:last-child
		margin-left auto
form
	.row
		padding 0 16px
		justify-content space-between
	
.field
	width calc(50% - 4px)
	padding-top 8px
	margin-right 8px
	margin-bottom 8px
	position relative
	
	&:nth-child(even)
		margin-right 0
	
	label
		position absolute
		top 0
		left 6px

	input
		&:placeholder-shown ~ label
			font-size $font-small
			left 9px
			top 16px

			span
				background-color transparent


label
	font-size $font-caption
	line-height 1em
	transition-property top, left, font-size
	transition-timing-function ease-in-out
	transition-duration 100ms

	span
		background-color white
		padding 0 4px
		transition background ease-in-out 100ms

.instructions
	padding 0 16px

	>div
		flex 1 1 50%
	
	.codeWrapper
		border thin solid $gray-dark
		border-radius: 4px
		background-color $gray-darker
		padding 8px 12px 48px
		margin-bottom 16px
		position relative
		overflow: hidden

		&::after
			content: ''
			display: block
			background-color: $gray-dark
			position absolute
			bottom 0
			left 0
			height 32px
			width 100%
			z-index 1

	
		button
			z-index 2
			position absolute
			bottom 0
			right 0

	.code
		font-size: 12px
		line-height 1em
		white-space pre !important
		word-break normal
		word-wrap: normal
		color $gray-lighter

.copyCode
	height 32px
	font-size: $font-caption
	display: flex
	align-items: center
	justify-content: flex-start
	width 90px
	color white

	svg.svg-inline--fa
		height 14px
		margin-right 4px
		path
			fill white

.breadcrumbs
	display: flex
	padding 8px 0 16px
	align-items: center
	font-size: $font-caption
	font-weight normal
	color $gray-darker
	text-transform: uppercase
	line-height: 1em
	transition color ease-in-out 100ms


	svg.svg-inline--fa
		height 14px
		margin-right 0
		margin-left 8px
		transition margin ease-in-out 100ms

	&:hover
		color black
		
		svg.svg-inline--fa
			margin-right 8px
			margin-left 0

.step
	font-size: $font-small
	margin-bottom: 16px

	span
		background $gray-lighter
		display inline-flex
		width 64px
		height 64px
		align-items: center
		justify-content: center
		border-radius: 50%
		color $gray-dark
		margin-bottom: 8px

